{% extends "blog/base.html" %} 
    {% block content %}
    <div class="d-flex justify-content-between">
        <h1 class="mb-4">BLOG HOME</h1>
        <a href="{% url 'post-create' %}">
            <button class="btn btn-primary h-1">
                New Post
            </button>
        </a>
    </div>

    {% for post in posts %}
        <div class="my-5">
                <h2><a href="{% url "post-detail" post.id %}" >{{post.title}}</a></h2>
                <p>
                    {{post.content}}
                    <div>
                        <a class="btn btn-outline-primary" href="{% url 'post-detail' post.id %}">View</a>
                    </div>
                </p>
                <div>  
                    <img class="rounded-circle" src="{{ post.author.profile.image.url }}" alt="">
                    <span class="text-muted">By {{ post.author }} on {{ post.date_posted|date:"F d, Y" }}</span>
                </div>
        </div>
    {% endfor %} 
{% endblock content %}
